* {
    margin: 0;
    padding: 0;
}
.table-wrapper {
    width: 100%;
}
.table {
    display: flex;
    overflow: hidden;
    table-layout: auto;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 80%;
    margin: auto;
    overflow-x: auto; 
    flex-direction: column;
    
}
.table thead{
    background-color: #ccc;
    color: #222;
    display: flex;
    padding: 5px;
    gap: 30px;
    justify-content: center;
}
.table tbody{
    padding: 10px;
    margin: auto;

}
.table th{
    padding: 0.8rem;
    max-width: 7rem;
    
}
.table td{
    justify-content: center;
    max-width: 10rem;   
}

.firm:hover{
    color: #fff;
    background-color: #ccc;
    cursor: pointer;
}